@media screen and (max-width: 900px) {
    .navigation {
        display: none;
    	}
  	 #content {
    	width: 100%;
    	}
}


body { 
	width: 100%;
	margin: auto;
	}

.container { 
	width: 100%;
	margin: 0 auto;
	font-family: "Georgia";
	}
	
.header {
	background: #9cb466;
	/*background: #FFFAFA; */
	width: 100%;
	height: 100px;
	top: 0; 
	position: fixed;
	z-index: 99999;
	}
	
.logo {
	float: left;
	font-size: 15px;
	padding-top: 15px;
	padding-right: 10px; 
	padding-left: 100px;
	}

.navigation {
	float: right;
	padding-right: 50px;
	overflow: hidden;
	}

.navigation a:hover {
	text-decoration: underline;
	}
	
a { 
	text-decoration: none;
	color: #2e8b57; 
	}
	
li {
	list-style: none;
	float: left;
	margin-left: 30px;
	padding-top: 30px;
	}

#banner {
	width: 100%;
	height: 450px;
	/*height: 350px;*/
	position: fixed;
	top: 100px;
	bottom:550px;
	/*bottom: 450px;*/
	background: url(rent2.jpg);
	/*background: url(Tennis4.jpg);*/
	background-size: cover;
	}

#section1 {
	text-align: right;
	font-size: 20px;
	color: #ffffff;
    background-color: #527700;
    height:200px;/*400*/
	position: relative;/*relative*/
	top: 450px; /*450*/

}

img {
	padding-top: 50px;
	padding-left: 75px;
	padding-right: 75px;
}
/*
#section2 {
	line-height:150px;
	text-align: center;
	font-size: 20px;
	color: #000080;
    background-color: #7E9F35;
    height:150px;
	position: relative;
	top: 450px;
}*/

#content{
	line-height:22px;
	/*position:fixed*/
	position: relative;
	top: 30px;
	background: #BCC8A1;
	}


h3{
	color: #ff0000; 
	padding-top: 40px;
	padding-left: 100px;
	padding-right: 100px;
	font-family: "sans-serif";
	


  }


p {
	padding-top: 25px;
	padding-left: 100px;
	padding-right: 100px;
	color: #2e8b57; 
	}

img.left {
	float: left;
	padding-right: 20px;
	padding-left: 60px;
	padding-top: 50px;
	}

img.right {
	float: left;
	padding-left: 20px;
	padding-right: 25px;
	padding-top: 15px;
	}

iframe {
	border: none;
	position: center;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 300px;
}

img.socialmedia {
	align: center;
	float: left;
	}

#footer {
	width: 100%;
	position:absolute;
	background-color: #ffffff;
	/*background-color: #395870;*/
	height: 100px;
}	

p.footer{
	padding-top: 5px;
	padding-right: 50px;
	font-size: 15px;
	text-align: right;
	color: #bcc8A1;	
}	
